nav.bloque{
    position: relative;
    border-color: black;
    border: solid;
    border-width: 1px;
    left: 700px;
   
}



footer{
    background-color: yellow;
    
    left: 700px;
}
a.valencia{
    background-color: yellow;
}
a.madrid{
    background-color: brown;
}
a.barcelona{
    background-color: aqua;
}